
h1{
  color: black;
  font: 1em sans-serif;
  margin-left: 60px;
}

.company-information,
p{
margin: 0px;
padding: 0px;
position: relative;
left: 30px;
font-size: 12px;

}


.prior-instruction{
  position: relative;
  left: 420px;

}
.prior-instruction,
p{
  font-size: 10px;


}
.pc-information{
  position: relative;
  bottom: 90px;
}

.pc-billing-container{
  display: flex;


}
.problem{
  position: relative;
  bottom: 90px;
}
.problem-mention-container{
  display: flex;
}
.mention{
  position: relative;
  bottom: 90px;
  left: 50px;
  font-size: 9px;
}

.underline{
  font-weight: bold;
  text-decoration: underline;
}